<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="RuralSecrets"
        android:theme="@style/Theme.Anna.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MenuPrincipal.MenuMainActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_main"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.Anna.NoActionBar" />
        <activity
            android:name=".MenuPrincipal.Profile.FragmentProfile"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MenuPrincipal.Home.FragmentHome"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MenuPrincipal.Faqs.Faqs"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal.Faqs.ContactUs"
            android:exported="false" />

        <activity
            android:name=".Register.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register.Collaborator.CollaboratorTariffActivity"
            android:exported="true"/>
        <activity
            android:name=".Register.Collaborator.PaymentSelected"
            android:exported="true" />
        <activity android:name=".MenuPrincipal.Routes.MyRoutes.MyRoutesClickedActivity"
            android:exported="true"/>
        <activity android:name=".MenuPrincipal.Routes.StationDetail" />
        <activity android:name=".MenuPrincipal.Profile.EditProfile" />
        <activity android:name=".Register.ResetPassword" />
        <activity android:name=".Register.VerificationActivity" />
        <activity android:name=".MenuPrincipal.CollaboratorMenu" />
        <activity android:name=".MenuPrincipal.Home.AdCreation" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>